<?xml version='1.0' encoding='utf-8'?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rll_cell">
  <xacro:include filename="$(find rll_moveit_config)/config/rll_cell.xacro" />

  <xacro:arg name="robot_name" default="iiwa"/>

  <xacro:rll_cell robot_name="$(arg robot_name)"/>

  <disable_collisions link1="axis_cam_base" link2="table_buffer" reason="Never" />
  <disable_collisions link1="axis_cam_top" link2="table_buffer" reason="Never" />
  <disable_collisions link1="$(arg robot_name)_base_adapter" link2="table_buffer" reason="Adjacent" />
  <disable_collisions link1="$(arg robot_name)_link_0" link2="table_buffer" reason="Default" />
  <disable_collisions link1="$(arg robot_name)_link_1" link2="table_buffer" reason="Default" />
  <disable_collisions link1="$(arg robot_name)_link_2" link2="table_buffer" reason="Never" />
  <disable_collisions link1="$(arg robot_name)_roboception_adapter" link2="table_buffer" reason="Never" />
  <disable_collisions link1="$(arg robot_name)_roboception_camera_uncal" link2="table_buffer" reason="Never" />
  <disable_collisions link1="$(arg robot_name)_roboception_gusset" link2="table_buffer" reason="Never" />
  <disable_collisions link1="profile_cams" link2="table_buffer" reason="Adjacent" />
  <disable_collisions link1="table" link2="table_buffer" reason="Adjacent" />
  <disable_collisions link1="table_buffer" link2="wall_back" reason="Adjacent" />
  <disable_collisions link1="table_buffer" link2="wall_front" reason="Adjacent" />
  <disable_collisions link1="table_buffer" link2="wall_left" reason="Adjacent" />
  <disable_collisions link1="table_buffer" link2="wall_right" reason="Adjacent" />
</robot>
