<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="iiwa"/>
  <arg name="headless" default="false"/>
  <arg name="use_sim" default="false"/>
  <arg name="gazebo_port" default="11345"/>

  <!--  This loads the whole Moveit! setup -->
  <include file="$(find rll_moveit_config)/launch/moveit_planning_execution.launch">
    <arg name="description_file" value="$(find rll_robot_playground_project)/urdf/playground_env.urdf.xacro" />
    <arg name="robot_name" value="$(arg robot_name)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="rviz_config" value="$(find rll_robot_playground_project)/launch/moveit.rviz" />
    <arg name="use_sim" value="$(arg use_sim)" />
    <arg name="gazebo_port" value="$(arg gazebo_port)" />
    <arg name="semantic_description_file" value="$(find rll_robot_playground_project)/config/playground_cell.srdf.xacro" />
  </include>

</launch>
