<?xml version="1.0"?>
<launch>
  <arg name="robot" default="iiwa" />

  <node ns="$(arg robot)" name="playground_iface" pkg="rll_robot_playground_project" type="playground_iface" respawn="false" output="screen">
    <param name="no_gripper" value="true"/>
    <remap from="/use_sim_time" to="/$(arg robot)/use_sim_time" />
    <remap from="/clock" to="/$(arg robot)/clock" />
  </node>

</launch>
