<?xml version="1.0"?>
<launch>
 <arg name="headless" default="false"/>
 <arg name="eef_type" default="cap" />
 <arg name="use_sim" default="false"/>
 <arg name="gazebo_gui" default="false"/>

 <include file="$(find rll_robot_playground_project)/launch/moveit_planning_execution.launch">
    <arg name="headless" value="$(arg headless)"/>
    <arg name="output" value="log"/>
    <arg name="use_sim" value="$(arg use_sim)" />
    <arg name="gazebo_gui" value="$(arg gazebo_gui)" />
    <arg name="eef_type" value="$(arg eef_type)"/>
  </include>

  <include file="$(find rll_robot_playground_project)/launch/playground_iface.launch">
    <arg name="eef_type" value="$(arg eef_type)"/>
  </include>

</launch>
